/*############## default ################*/

nav,
header,
footer{
    display:block;     /*to stack these up*/
}

body{
    line-height: 1; /*i.e. the amount of space a block of text to take vertically*/
    margin:0;   /* so that everything is tightly packed b/c when it is launched on brower some browsers add margins so to avoid it... */
}

label{
    font-size:35px;
    font-weight:600;/*bold is 300 so bit bolder than bold*/
}
.container{
    
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

p{
    font-size: 28px;
    line-height: 1.2;
}

article p{
    font-size: : 35px;
    padding: 20px;
}
.row{
    width: 100%;
    display: flex; /*this allows us to add more properties like wrap*/
    flex-wrap: wrap;/*when the screen shrinks it shifts the overflowing content downwards*/
    align-items: center;
}

.row::after{
    display: table;
    clear: both;/* to clear both floats, if present */
    content="";
}

.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}

*{
    /* * is to refer to all elements on the page*/
    box-sizing: border-box;
    /*it is for including padding, margin in the total size specified*/
}
/*################ nav bar ########################*/

nav{
    width:100%;
    margin:0;
}

nav ul{
    background-color: #eee;
    margin:0;
    padding: 0;
    overflow: hidden;/*if the things donot fit in view port just clip off the extra portion */
}

ul.topnav li{
    list-style: none; /*this is to remove bullet points from ul. This is not necessary here because <a> does it by tradition but just to ensure...*/
    float: left;/*i.e. li should be horizontal not vertical*/
}

ul.topnav li.topnav-right{
    float: right;/*sign up/in should be on the right*/
}

ul.topnav li a{
    display:block;
    text-decoration:none;/*to remove underline from links*/
    min-height:16px;/*to ensure even if the window size is small the min height of text should not be less than 16px b/c for navbar it must be easy to click.Instead of min-height, we can also use fint-size but former ensures the min height*/
    text-align: center;
    padding:14px;
    text-transform: uppercase;
    color: #666;
    
}

ul.topnav li a:hover{
    background: #0080ff; /*a shade of blue*/
    color:#fff; /*white */
}

ul.topnav li.dropdownIcon {
    display: none;/* b/c it is not needed on large screen */
}
 
/*################# custom styles##################*/

#section-1-gradient{
    background: #076DFF; /* hexcode for blue shade for browser which donot support gradient */
    background: -webkit-linear-gradient(#076DFF,#65a5ff);/*  for chrome, safari*/
    background: -o-linear-gradient(#076DFF,65a5ff);/* for opera*/
    background: -moz-linear-gradient(#076DFF,65a5ff);/*for mozilla firefox*/
    background: linear-gradient(#076DFF,65a5ff);/*for standard syntax; the third party browser which may not support gradient but we have them to support using it */ 
}

.box{
    text-align:center;/*it will align image in it too*/
    margin:24px;
    padding: 36px 24px 40px 24px;
    border-radius: 7px;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15),
        0 2px 3px 0 rgba(0,0,0,.1);
    /* in box-shadow the first 0 is where do I need to put shadow relative to the box.0 means just underneath the box, neither right nor left; -ve for left and +ve for right
    second is same but for vertical; +ve for bottom -ve for top
    third is for the amount by which we want to blur the shadow
    fourth is the spread of blurness
    we can add colors by name or by hexcode or by rgb. Here a is for opacity 
    first is for shadow color
    second : background color
    third box color
    fouth opacity
    after comma we are again writing similar code to add another layer of color to the box shadow*/
}
.slopeIcon img{
    display: block;
    margin: auto;
    box-shadow: -2px -2px 20px 2px rgba(0,0,0,.15),
        2px 2px 17px 2px rgba(0,0,0,1);
}

button{
    font-size: 32px;
    font-weight: 700;
    color :#fff;
    background-color: #0069ff;
    padding:15px 60px;
    display:block;
    text-align: center;
    margin: 5px;
    border-radius: 7px;
}

button.learnMore{
    display:block;
    margin:auto;
}
.icon{
    width:100%;
}
.leftside-col{
    margin-left: 30%;/*here we are specifying % to make it more flexible to change in size of screen that pixels would have done */
}

.rightside-col{
    margin:15%;
}
h1.large{
    color:#fff;
    font-size: 56px;
    margin :0;
    line-height: 70px;
}

h1.section2Header{
    font-size: 65px;
    text-align: center;
}
form h2{
    font: #fff;
    
}

input[type="text"]{  /*attribute selector to select the elements with particular attributes.We are specifyin' type here to be specific*/
    font-size: 20px;
    width: 400px;  /*width of the input box*/
    min-width: 100px;
    padding: 5px;
    border-radius:7px; 
}

footer.footsy{
    background-color: #666;
    padding-left: 10%;
}

footer.footsy h1{
    color: #fff;
    font-size:35px;
    
}

footer.footsy ul{
    list-style: none;
    text-align: left;
    padding-left: 0;
}

footer.footsy ul li{
    color: #fff;
    font-size: 22px;
    line-height: 1.2;
}
/*################### mobile ######################*/
@media screen and (max-width:680px){  /*for mobiles,tablets or screen width<680px */
    ul.topnav li:not(:nth-child(1)){
        display:none ;
    }
    
    ul.topnav li.dropdownIcon{
        display: block;
        float: right;
    }
    
    ul.topnav.responsive li.dropdownIcon{
        position: absolute;/* to keep the trigram as it is when making dropdown */
        top:0;
        right:0;
        /* to keep it in top right */
    }
    ul.topnav.responsive{
        position: relative;/* to ensure that its position does not change*/
    }
    
    ul.topnav.responsive li{
        display:inline;/* i.e. display in a single row */
        float: none;
    }
    
    ul.topnav.responsive li a{
        display: block;
        text-align: left;
    }
    h1.section2Header{
        font-size: 50px;
    }
    
    article p{
        font-size: 25px;
    }
    
    .col-7,
    .col-6,
    .col-5,
    .col-4{
        width:100%;
        margin:0;
    }
    
    div.mobileStack{
        width:50%;
        display: block;
    }
    
    .box{
        padding:5px;
        display:block;
    }
    
    .leftside-col, rightside-col{
        margin: 15px;
    }
    
    .slopeIcon{
        margin: 10px;
    }
    .slopeIcon img{
        width: 100%;
    }
    
    input[type="text"]{
        width:350px;
    }
    
    .videoContainer iframe{
        position:relative;
        width:100% ;
        margin:0;
        overflow:hidden;
    }
}






